<h1>All Products</h1>

<ul>
<% @products.each do |product| %>
  <p>
    <li>Product: <%= link_to product.title, product %> <br> Category: <%= product.category.name %></li>
  </p>
  <hr>
<% end %>
</ul>
